{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <title>Contact Page</title>
</head>
<body style="background-color: rgb(235, 243, 235);;">
    <!-- 
    <form method="POST" >
        {{form.as_p}}
    </form> -->
    <form method="post" class = "contact-form">
        {% csrf_token %}
    
        <div class = "container">
            <h1 class="headings">Contact Form</h1>
    
            <label for="id_name">Name:</label>
            {{ form.name }}
            {% if form.name.errors %}
                <div class="error">
                    {% for error in form.name.errors %}
                        <p>{{ error }}</p>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    
        <div>
            <label for="id_email">Email:</label>
            {{ form.email }}
            {% if form.email.errors %}
                <div class="error">
                    {% for error in form.email.errors %}
                        <p>{{ error }}</p>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    
        <div>
            <label for="id_message">Message:</label>
            {{ form.message }}
            {% if form.message.errors %}
                <div class="error">
                    {% for error in form.message.errors %}
                        <p>{{ error }}</p>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    
        <button type="submit">Submit</button>
    </form>
    
</body>
</html>

