* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* styling for home page*/
.headings {
    text-align: center;
    margin-top: 20px;
}
#btn-home {
    padding: 10px;
    background-color: rgb(29, 141, 186);
    margin: 10px 0 0 40%;
    font-size: 1rem;
    border-radius: 10px;
    border: none;
}

#btn-home:hover {
    color: rgb(193, 194, 198);
}

/* styling for contact page*/
.container {
    background-color: rgba(205, 213, 205, 0.9);
    padding: 20px;
    margin: 50px auto;
    border-radius: 20px;
    width: fit-content;
}

form p {
    margin-bottom: 20px;
}

form label {
    font-weight: bold;
    display: block;
    padding-bottom: 5px;
}

form input, form textarea {
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid whitesmoke;
}

#btn-contact {
    padding: 10px;
    font-size: 1rem;
    background-color: rgb(29, 141, 186);
    border-radius: 10px;
    margin-left: 30%;
    width: 40%;
    border: 1px solid whitesmoke;
}

#btn-contact:hover {
    color: whitesmoke;
}
/* styling for success page*/
#success-view {
    text-align: center;
    padding: 20px;
    font-weight: bold;
}
a {
    text-decoration: none;
    color: black;
    display: block;
    text-align: center;
}
a:hover {
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 4px;

}